{% include 'userheader.html' %}



<!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel" >

<!--         <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
 -->
        <div class="carousel-inner" role="listbox" >

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url(/static/assets/img/slide/slide8.jpg);">
            <div class="carousel-container" >
              <div class="carousel-content" >
                <h2 class="animate__animated animate__fadeInDown">View Request Property </h2>


<form method="post" enctype="multipart/form-data" style="margin-top: 10px" class="animate__animated animate__fadeInUp">
	<center>
	 <center>
<!--   <h1>View Request Property</h1>
 -->    <table class="table" style="width: 800px;color: #fff !important">
        <tr>
            <th>Username</th>
            <th>Property Title</th>
            <th>Amount</th>
            <th>Date-Time</th>
        </tr>
        {% for row in data['view']%}
        <tr>

        <td>{{row['firstname']}} {{row['lastname']}}</td>
        <td>{{row['property_title']}}</td>
        <td>{{row['amount']}}</td>
        <td>{{row['date_time']}}</td>
<td><a class="btn btn-warning" href="userchatusers?user_id={{row['ruserid']}}">message</a></td>  
<td><a class="btn btn-danger" href="userviewpayment?request_id={{row['request_id']}}">view payment</a></td>  
    </tr>  
      {%endfor%}

    </table>
 </center>
         
	</center>



</form>

               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
<!--  <center>
      <h2 class="animate__animated animate__fadeInDown">View Uploads</h2>


<table class="table" style="width: auto;color: white" class="animate__animated animate__fadeInDown">
  <tr>
    
    <th>Image</th>
  </tr>
    
</table>
</center> -->




{% include 'footer.html' %}